li.link {
	float : left;
	display : block;
	height : 50px;
}

li.motto {
	float : right;
	line-height : 50px;
	margin-right : 150px;
	color : #fff;
	padding-right : 20px;
	padding-left : 20px;
}

div.nav  ul {
	margin-left : 150px;
}

div.nav a {
	float : left;
	display : block;
	height : 50px;
	line-height : 50px;
	color : #fff;
	padding-right : 20px;
	padding-left : 20px;
}

div.nav a:hover {
	background : #555;
}

div.footer {
	margin-top : 20px;
	text-align : center;
}

div.footer a {
	color : #fff;
}

div.footer > div {
	margin-top : 20px;
}

div.content {
	width : 1000px;				
	height : auto;				
	border : 1px solid #fff;
	margin : 60px auto auto auto;
	padding : 10px;
}

table {
	width : 100%;
	height : auto;
}

div.test {
	width : 100%;
	height : 100px;
	border : 1px #ccc solid;
	padding : 0px;
	margin-bottom : 10px;
}

ul.side > li {
	display : block;
}

ul.side  li.title {
	background : #fff;
	padding : 5px;
	font-size : 15px;
	color : #111;
	border-bottom : 1px #ccc solid;
}


ul.side li.content {
	padding : 5px;
	font-size : 13px;
}

ul.side .panel {
	padding : 0px;
	margin-bottom : 10px;
}

div.tag.panel li.content {
	padding : 3px;
	line-height : 25px;
}

td#display div.panel {
	border : 1px #fff solid;
	padding : 10px;
	text-align : center;
} 

td#display div.editbox {
	border : 1px #aaa solid;
	padding : 10px;
	display : inline;
}

td#display div.editbox input {
	width : 220px;
	height : 100%;
}

.panel {
	border-width : 0px;
}

div.blog .admin a {
	color : red;
	font-size : 14px;
}

div.footer {
	font-size : 14px;
	color : white;
}

div.footer p {
	color : #333;	
}
