li.link {
	float : left;
	display : block;
	height : 50px;
}

li.motto {
	float : right;
	line-height : 50px;
	margin-right : 150px;
	color : #fff;
	padding-right : 20px;
	padding-left : 20px;
}

div.nav  ul {
	margin-left : 150px;
}

div.nav a {
	float : left;
	display : block;
	height : 50px;
	line-height : 50px;
	color : #fff;
	padding-right : 20px;
	padding-left : 20px;
}

div.nav a:hover {
	background : #555;
}

div.footer {
	text-align : center;
}

div.footer a {
	color : #fff;
}

div.footer > div {
	margin-top : 20px;
}

div.content {
	width : 1000px;				
	height : auto;				
	border : 1px solid #fff;
	margin : 60px auto auto auto;
	padding : 10px;
	margin-bottom : 10px;
}

table {
	width : 100%;
	height : auto;
}

div.test {
	width : 100%;
	height : 100px;
	border : 1px #ccc solid;
	padding : 0px;
	margin-bottom : 10px;
}

ul.side > li {
	display : block;
}

ul.side  li.title {
	background : #fff;
	padding : 5px;
	font-size : 15px;
	color : #111;
	border-bottom : 1px #ccc solid;
}

td#display li.title {
	font-size : 15px;
	background : #fff;
	padding : 5px;
	border-bottom : 1px #ccc solid;
}

ul.side li.content {
	padding : 5px;
	font-size : 13px;
}

ul.side .panel {
	padding : 0px;
	margin-bottom : 10px;
}

div.tag.panel li.content {
	padding : 3px;
	line-height : 25px;
}

td#display > div.panel {
	width : 90%;
	height : auto;	
	margin-left : auto;
	margin-right : auto;
}

td#display div.blog {
	border-bottom : 1px dotted #ccc;
	padding : 5px;
}

td#display li.content {
	padding : 5px;
	padding-top : 0px;
}

td#display li.content span.date {
	float : right;
	color : #666;
}

td#display li.content span.tag {
	margin : auto 0px auto 0px;
}

.panel {
	border-width : 0px;
}

div.blog .admin a {
	color : red;
	font-size : 14px;
}

div.footer {
	font-size : 14px;
	color : white;
}

div.footer p {
	color : #333;	
}

#paginator {
	text-align : center;
}

select {
	font-size : 15px;
	padding : 3px;
}
