{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block motto %}
{{ motto.content }}
{% endblock %}

{% block record %}
{% for r in records %}
<div><a href="{{ r.url }}">{{ r.title }}</a></div>
{% endfor %}
{% endblock %}

{% block tag %}
{% for t in tags %}
<a href="{{ t.url }}" class="tag">{{ t.tagname }}</a>
{% endfor %}
{% endblock %}

{% block activity %}
{% for a in activitys %}
<div>{{ a.user }} {{ a.action }} <a href="{{ a.distribute.read }}">{{ a.distribute.title }}</a></div>
{% endfor %}
{% endblock %}

{% block display %}
<ul>
	<li class="title">{{ title }}</li>
	<li class="content">
	{% for d in distributes %}
	<div class="blog"><a href="{{ d.read }}">{{ d.title }}</a>
		{% for t in d.tags.all %}
		<span class="tag">{{ t.tagname }}</span>
		{% endfor %}
		{% if user.is_authenticated %}
		<span class="admin"><a href="{{ d.edit }}">编辑</a> | <a href="{{ d.delete }}">删除</a></span>
		{% endif %}
		<span class="date">{{ d.date|date:"Y-m-d" }}</span></div>
	{% endfor %}
	</li>
</ul>
<div id="paginator">
	<span>
		<a href="?page=1" class="btn success">首页</a>
		{% if page.has_previous %}
		<a href="?page={{ page.previous_page_number }}" class="btn default">上一页</a>
		{% endif %}
		<select id="page" name="page">
			{% for i in p.page_range %}
			<option value="{{ i }}">第 {{ i }} 页</option>
			{% endfor %}
		</select>
		{% if page.has_next %}
		<a href="?page={{ page.next_page_number }}" class="btn default">下一页</a>
		{% endif %}
		<a href="?page={{ p.num_pages }}" class="btn warning">末页</a>
	</span>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script>
	$(document).ready(function(){
		$("#page").click(function(){
			window.location.href = "?page=" + $("#page").val();
		})
	})	
</script>
{% endblock %}
