{% extends "index.html" %}

{% block css %}
<link rel="stylesheet" href="/static/kindeditor/plugins/code/prettify.css">
<link rel="stylesheet" href="/static/css/flat.css">
<link rel="stylesheet" href="/static/css/read.css">
{% endblock %}

{% block display %}
<ul>
	<li class="title">{{ distribute.title }}
	{% for t in distribute.tags.all %}
	<span class="tag">{{ t.tagname }}</span>
	{% endfor %}
	<span class="count">{{ distribute.counter }} 人浏览 | 发表于 {{ distribute.date|date:"Y-m-d H:i:s"}} </span></li>
	<li class="content">
	{% autoescape off %}
	{{ distribute.content }}
	{% endautoescape %}
	</li>
</ul>
{% endblock %}
{% block js %}
<script type="text/javascript" src="/static/js/edit.js"></script>
<script src="/static/kindeditor/kindeditor-all.js" type="text/javascript" charset="utf-8"></script> 
<script charset="utf-8" src="/static/kindeditor/lang/zh_CN.js"></script>
<script charset="utf-8" src="/static/kindeditor/plugins/code/prettify.js"></script>
<script>
	KindEditor.ready(function (K) { 
		window.EditorObject = K.create('#editbox', { 
			width : "100%",
			height : "300px",
			items : 
			[
			'source', '|', 'undo', 'redo', '|', 'preview', "code", 'print', 'template', 'cut', 'copy', 'paste',
			'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
			'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
			'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
			'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
			'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image', 'multiimage',
			'flash', 'media', 'insertfile', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
			'anchor', 'link', 'unlink'
			]
		}); 
		prettyPrint();
	}); 
</script>

{% endblock %}

